<!doctype HTML>
<html>

<head>
    <link href='../../../fullcalendar/fullcalendar.css' rel='stylesheet' />
    <link href='../../../fullcalendar-scheduler/scheduler.css' rel='stylesheet' />
    <link href='../../../fullcalendar-scheduler/scheduler.js' rel='stylesheet' />
    <link href='../../../fullcalendar-scheduler/scheduler.min.js' rel='stylesheet' />
    <link href='../../../fullcalendar-scheduler/scheduler.min.css' rel='stylesheet' />
    <script src='../../../fullcalendar/lib/moment.min.js'></script>
    <script src='../../../fullcalendar/lib/jquery.min.js'></script>
    <script src='../../../fullcalendar/fullcalendar.min.js'></script>


    <script>
        $(document).ready(function() {
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev, next today timelineWeek',
                    center: 'title',
                    right: 'agendaWeek,agendaDay, timelineDay'
                },
            })
        });

    </script>
</head>
<body>
<img id = "close" width="150" height="90" class = "img-center center-block" src = "../../../images/Logo.png">
<div id="calendar" class="fc fc-unthemed fc-ltr"></div>
<div class="fc-view fc-agendaWeek-view fc-agenda-view" style></div>
</body>
</html>