<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="node_modules/angular/angular.js"> </script>
    <script src="controller.js"> </script>
    <link href = "node_modules/bootstrap/dist/css/bootstrap.css" type = "text/css" rel = "stylesheet">
    <link rel="stylesheet" href="../../../fullcalendar/fullcalendar.css" />
    <script src='../../../fullcalendar/lib/moment.min.js'></script>
    <script src='../../../fullcalendar/lib/jquery.min.js'></script>
    <script src='../../../fullcalendar/fullcalendar.min.js'></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="viewingSchedule.css">


    <script>
      $(document).ready(function() {
        $('#calendar').fullCalendar({
            header: {
              left: 'prev, next today',
              center: 'title',
              right: 'agendaWeek,agendaDay, list, list-view'
            },
            events: [
                {
                    title: 'Event1',
                    start: '2017-02-11'
                }
            ],
            dayClick: function(date, jsEvent, view, resourceObj) {

                alert('Date: ' + date.format());
                alert('Resource ID: ' + resourceObj.id);

            },
            eventClick: function(event, element) {

                event.title = "CLICKED!";

                $('#calendar').fullCalendar('updateEvent', event);

            },
        })
      });

    </script>
    <style type = "text/css">
        body {
            margin-top: 40px;
            text-align: center;
        }
        #calendar {
            width: 900px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
<div w3-include-html="navbar.html"></div>
<button id="myBtn" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Add Event</button> <br>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">

                <form id="role-form"  method="get">
                    <div class="modal-body">
                        <div class="form-group col-md-12">
                            <input type="text" name="role" class="form-control">
                                Event Name
                            </input>
                        </div>
                        <div class="form-group col-md-12">
                            <select id="year" name="role" class="form-control">
                                <option selected disabled>Event Time</option>
                                <option value='1'>2015</option>
                                <option value='2'>2016</option>
                                <option value='3'>2017</option>
                            </select>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div id="calendar" class="fc fc-unthemed fc-ltr"></div>
    <div class="fc-view fc-agendaWeek-view fc-agenda-view" style></div>


</body>
</html>