<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!--
        Written by Jason... lets see what happens
     -->

    <title>Help Page</title>
</head>

<body>

    <!-- Navbar To be Added Later -->

    <h1>Help Page</h1>
    <p> Having trouble navigating the PlanIt Scheduling System?</p>

    <h2> Need to change your password? </h2>
    <p>On the login page, there is a link saying "Forgot Password". Clicking on this link will bring you </p>

    <h2> Want to view an existing schedule? </h2>
    <h2> Want to edit an existing schedule? </h2>
    <h2> Want to create a new schedule? </h2>
    <h2> Want to edit faculty preferences? </h2>
    <h2> What distinguishes guests, faculty, and department schedulers in the system? </h2>
    <h2> Want to view a schedule? </h2>


</body>
</html>