<head>
    <meta charset="utf-8" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <script src="../bower_components/angular-modal-service/dst/angular-modal-service.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>

    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.0.js"></script>

    <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css">

    <link rel="stylesheet" href="../css/calendar.css" />
    <link rel="stylesheet" href="../css/ionicons.css" />
    <link rel="stylesheet" href="../bower_components/fullcalendar/dist/fullcalendar.css">


    <style>
        div.navbar-collapse.collapse {
            display: block;
            overflow: hidden;
            max-height: 0px;
            -webkit-transition: max-height .3s ease;
            -moz-transition: max-height .3s ease;
            -o-transition: max-height .3s ease;
            transition: max-height .3s ease;
            top: 0px;
            position: absolute;
        }
        div.navbar-collapse.collapse.in {
            max-height: 2000px;
        }
        body {
            margin-top: 0px;
        }
    </style>
</head>

<body ng-controller="MainCtrl">
<div class="navbar" style="background-color: black">
    <ul class="nav navbar-nav" style="background-color:rgba(190,190,190,1); width:100%; padding-top: 5px; padding-bottom: 5px">
        <li ng-class="navClass('home')"><img src="../images/PlanIt.png" style="margin-left: 15px;height:40px"></li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false" style="color: rgb(29,177,219)"><b>Actions</b><span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#">Add Faculty Preferences</a></li>
                <li><a href="/users.html">Manage Faculty</a></li>
                <!-- <li><a href="#" ng-click="$parent.openAddCourseSectionModal()">Add Course Section</a></li> -->
                <li><a href="/rooms.html" >Manage Rooms</a></li>
                <li role="separator" class="divider"></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false" style="color: rgb(29,177,219)"><b>Schedule</b><span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#" ng-click="$parent.clearSelectedSchedule()">View Different Schedule</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Create Schedule</a></li>
                <li><a href="#">Delete Schedule</a></li>
                <li><a href="#">Export Schedule</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-submenu">
                    <a href="#">View</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#" ng-click="$parent.changeView('month', $parent.calendarInstanceState.currentCalendar)">
                                Monthly View
                                <i class="icon ion-checkmark-round pull-right" ng-if="$parent.calendarInstanceState.currentView == 'month'"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" ng-click="$parent.changeView('agendaWeek', $parent.calendarInstanceState.currentCalendar)">
                                Weekly View
                                <i class="icon ion-checkmark-round pull-right" ng-if="$parent.calendarInstanceState.currentView == 'agendaWeek'"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" ng-click="$parent.changeView('agendaDay', $parent.calendarInstanceState.currentCalendar)">
                                Daily View
                                <i class="icon ion-checkmark-round pull-right" ng-if="$parent.calendarInstanceState.currentView == 'agendaDay'"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" ng-click="$parent.changeView('listWeek', $parent.calendarInstanceState.currentCalendar)">
                                List View
                                <i class="icon ion-checkmark-round pull-right" ng-if="$parent.calendarInstanceState.currentView == 'listWeek'"></i>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false" style="color: rgb(29,177,219)"><b>Profile</b><span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li style="background-color: lightgray; color: darkgray"><a>Signed in as {USER}</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Logout</a></li>
                <li><a href="login.html"></a></li>
            </ul>
        </li>
    </ul>
</div>
</body>