<!doctype html>
<html ng-app="app">
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-touch.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>
    <script src="http://ui-grid.info/release/ui-grid.js"></script>
    <link rel="stylesheet" href="http://ui-grid.info/release/ui-grid.css" type="text/css">
    <link rel="stylesheet" href="../css/resourcesCSS.css" type="text/css">
    <script src="../js/resourcesJS.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
</head>

<style>
    #outer {
        margin: 50px auto 0 auto;
        display: block;
    }

    #inner {
        margin: 50px 50px 50px 50px;
        padding: 10px;
        display: block;
        display:inline-block;

    }
</style>
<body>

<div id = "outer" ng-controller="MainCtrl">
    <div id = "inner">
        <uib-tabset justified="true">
            <uib-tab heading="Rooms" select="setTab('test')">
                <div class="row">
                    <div class="col-md-12" ng-if="test">
                        <div id="grid1" ui-grid="myData" class="grid"></div>
                    </div>
                </div>
            </uib-tab>
            <uib-tab heading="Users" select="setTab('test2')">
                <div class="row">
                    <div class="col-md-12" ng-if="test2">
                        <div id="grid2" ui-grid="myData2" class="grid"></div>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
</div>
</body>
</html>
