<!DOCTYPE html>
<html>
<head ng-app = "roomApp">
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
    <link rel="stylesheet"; href="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.css">
    <script src="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../js/roomsJS.js"></script>
    <link rel="stylesheet" href="../css/roomCSS.css">

</head>

<body ng-controller = "RoomController">
<p>Helloooooo I'M IN ROOMS.HTML </p>
    <div class="container">
        <center>
            <table id = "table" class="table table-striped table-hover" ng-table="vm.tableParams" class="table" show-filter="true">
                <tr ng-repeat="user in data">
                    <td title="'Number'" filter="{ num: 'number'}" sortable="'num'">
                        {{user.num}}</td>
                    <td title="'Type'" filter="{ type: 'text'}" sortable="'type'">
                        {{user.type}}</td>
                    <td title="'Capacity'" filter="{ cap: 'number'}" sortable="'cap'">
                        {{user.cap}}</td>
                    <td title="'Offerings'" filter="{ offerings: 'text'}" sortable="'offerings'">
                        {{user.offerings}}</td>
                    <td title="'Resources'" filter="{ resources: 'text'}" sortable="'resources'">
                        {{user.resources}}</td>
                </tr>
            </table>
        </center>
    </div>
</body>
</html>