<!doctype html>
<html ng-app="demo">
    <head>
        <title>API Test</title>
        <!--
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
        -->
        <script src="../../../main/View/node_modules/angular/angular.min.js"></script>
        <script src="../../../main/View/js/helloworld.js"></script>
    </head>
    <body>
        <div ng-controller="Hello">
            <p>The id is {{greeting.id}}</p>
            <p>The content is {{greeting.content}}</p>
            <p>The response object contains the following: {{greeting}}</p>
        </div>
    </body>
</html>