<table class="table table-striped table-hover" ng-table="vm.tableParams" class="table" show-filter="true">
    <tr ng-repeat="user in data">
        <td title="'Name'" filter="{ name: 'number'}" sortable="'name'">
            {{user.name}}</td>
        <td title="'Resources'" filter="{ resources: 'number'}" sortable="'resources'">
            {{user.resources}}</td>
        <td title="'Capacity'" filter="{ capacity: 'number'}" sortable="'capacity'">
            {{user.capacity}}</td>
        <td title="'Room Type'" filter="{ roomType: 'number'}" sortable="'roomType'">
            {{user.roomType}}</td>
        <td>
            <input type="button" value="Remove" class="btn btn-primary" ng-click="remove(user.userID)">
        </td>
    </tr>
</table>