<!DOCTYPE html>
<html>
<head>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

    <script src='../../../fullcalendar/lib/moment.min.js'></script>
    <script src='../../../fullcalendar/fullcalendar.js'></script>
    <script src='../../../fullcalendar/fullcalendar.min.js'></script>
    <link href='../../../fullcalendar/fullcalendar.css' rel='stylesheet' />
    <link href='../../../fullcalendar/fullcalendar.print.min.css' rel="stylesheet" media="print"/>


    <script src="node_modules/angular/angular.js"> </script>
    <link href = "node_modules/bootstrap/dist/css/bootstrap.css" type = "text/css" rel = "stylesheet"/>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <script>
        $(document).ready(function() {


            $(document).ready(function () {

                $('#calendar').fullCalendar({
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,basicWeek,basicDay, list, list-view'
                    },
                    defaultDate: '2017-02-12',
                    navLinks: true, // can click day/week names to navigate views
                    editable: true,
                    eventLimit: true, // allow "more" link when too many events
                    events: [
                        {
                            title: 'All Day Event',
                            start: '2017-02-01'
                        },
                        {
                            title: 'Long Event',
                            start: '2017-02-07',
                            end: '2017-02-10'
                        },
                        {
                            id: 999,
                            title: 'Repeating Event',
                            start: '2017-02-09T16:00:00'
                        },
                        {
                            id: 999,
                            title: 'Repeating Event',
                            start: '2017-02-16T16:00:00'
                        },
                        {
                            title: 'Conference',
                            start: '2017-02-11',
                            end: '2017-02-13'
                        },
                        {
                            title: 'Meeting',
                            start: '2017-02-12T10:30:00',
                            end: '2017-02-12T12:30:00'
                        },
                        {
                            title: 'Lunch',
                            start: '2017-02-12T12:00:00'
                        },
                        {
                            title: 'Meeting',
                            start: '2017-02-12T14:30:00'
                        },
                        {
                            title: 'Happy Hour',
                            start: '2017-02-12T17:30:00'
                        },
                        {
                            title: 'Dinner',
                            start: '2017-02-12T20:00:00'
                        },
                        {
                            title: 'Birthday Party',
                            start: '2017-02-13T07:00:00'
                        },
                        {
                            title: 'Click for Google',
                            url: 'http://google.com/',
                            start: '2017-02-28'
                        }
                    ]
                });
            });
        });
    </script>


    <style type = "text/css">
        body {
            margin-top: 40px;
            text-align: center;
        }

    </style>
</head>


<button id="myBtn" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Add Event</button>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="role-form"  method="get">
                <div class="modal-body">
                    <div class="form-group col-md-12">
                        <input type="text" name="role" class="form-control">
                        Event Name
                        </input>
                    </div>
                    <div class="form-group col-md-12">
                        <select id="year" name="role" class="form-control" title="Random">
                            <option selected disabled>Event Time</option>
                            <option value='1'>2015</option>
                            <option value='2'>2016</option>
                            <option value='3'>2017</option>
                        </select>
                    </div>
                    <div class="clear-fix"></div>
                </div>
            </form>
        </div>
    </div>
</div>


<img id = "close" width = "180" height = "105" class = "img-center center-block" src = "https://raw.githubusercontent.com/djustinf/PlanIt/master/images/Logo.png">
<div id="calendar" class="fc fc-unthemed fc-ltr"></div>
<div class="fc-view fc-agendaWeek-view fc-agenda-view"> </div>

</html>