<!DOCTYPE html>
<html lang="en">
<head>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/mystyle.css">
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <script src='../../../../fullcalendar/lib/jquery.min.js'></script>
    <script src="../node_modules/bootstrap/dist/css/bootstrap.css"></script>
    <link href="../node_modules/bootstrap/dist/css/bootstrap.css" type="text/css" rel="stylesheet">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <title>Login</title>
</head>
<body>

<div class="container">
    <div id="login_div" class="main-login main-center">
        <img width="180" height="45" class="img-center center-block"
             src="https://raw.githubusercontent.com/djustinf/PlanIt/master/images/PlanIt.png">
        <br>
        <form id="full" method="post" action="#">
            <div class="form-group">
                <div class="cols-sm-12">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="userid" id="userid"
                               placeholder="Enter your User ID"/>
                    </div>
                </div>
            </div>

            <div class="form-group ">
                <a href="navbar.html" target="_blank" type="button" id="button"
                   class="btn btn-primary btn-lg btn-block login-button">Login</a>
            </div>

        </form>
    </div>
</div>
</body>
</html>