<!DOCTYPE html>

<html ng-app="myApp">

  <head>
    <script src="../node_modules/angular/angular.js"> </script>
    <script src="../js/controller.js"> </script>
    <link href = "../node_modules/bootstrap/dist/css/bootstrap.css" type = "text/css" rel = "stylesheet">
  </head>
  
  <body ng-controller = 'TestController'> 
  <input ng-model='newMsg'>
  <button ng-click = 'action(newMsg)'> the message is {{newMsg}}  </button> 
  <button ng-click = 'show=!show'> {{show? "hide" : "show"}} </button> 
  <div> 
      {{message}}
    </div>
    <div class = "row">
    <g class = "well col-md-3 well-sm" ng-repeat = 'msg in arr'> 
      {{msg}}
    </g>
    </div>
  <b ng-show = 'show'> This is a test </b>
  </body>
 
</html>

    
